  <%= render 'shared/header' %>
  <ul>
    <li><%= link_to "施設の新規登録", :rooms_new %></li>
    <li><%= link_to "予約済み一覧", :rooms_own %></li>
    <li><%= link_to "登録済み一覧", :rooms_own %></li>
    <li><%= link_to "アカウント設定", :users_profile %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
  <h1>Home#top</h1>