<h3>登録済み一覧</h3>

<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>

  <table>
    <thead>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
    </thead>
  
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= image_tag room.room_image.url %></td>
          <td><%= link_to room.name, room %></td>
          <td><%= room.detail %></td>
          <td><%= room.price %></td>
          <td><%= room.created_at.to_s(:datetime_jp1) %></td>
          <td><%= link_to "編集", [:edit, room] %></td>
          <td><%= button_to "削除", room, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
