<h3>お部屋詳細</h3>
 
<table>
  <tr>
    <th>施設名</th>
    <td><%= @room.name %></td>
  </tr>
  <tr>
    <th>料金</th>
    <td><%= @room.price %></td>
  </tr>
  <tr>
    <th>紹介文</th>
    <td><%= @room.detail %></td>
  </tr>
</table>
 
<div>
  <ul>
    <li><%= link_to "登録済み一覧に戻る", :rooms_own %></li>
    <li><%= link_to "編集", edit_room_path %></li>
  </ul>
</div>